:root{
    --primery-start:#FFFFFF;
    --primery-2:#C2C1C1;
    --primery-base:#606060;
    --primery-1:#4F4E4E;
    --primery-end:RGBA(41, 41, 41, 1);
    --type:#008000;
    --bcgColor:#10b1af;
    

}